# Node / Frontend
node_modules/
dist/
frontend/.vite/
*.tsbuildinfo

# Python / Backend
.venv/
__pycache__/
*.pyc
*.db
*.db-shm
*.db-wal
backend/uploads/
*.egg-info/
backend/build/
backend/whisper-cache
.pytest_cache/
local-tts/voices/*.wav

# Env
.env

# Editors / OS
.DS_Store

#Agents
.claude
CLAUDE.md
